* {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  max-width: 1000px;
  padding: 16px;
}

/* TOC */
#content li > p {
  margin: 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-weight: 400;
  margin-top: 2em;
}

#content h1 {
  margin-top: 1em;
}

#content h2 {
  border-top: 2px solid #ccc;
  padding-top: 2em;
}
